<!-- search bar  -->
<div class="mb-3">
  <div class="relative mb-4 flex w-full ">
    <input
      type="search"
      class="relative m-0 block min-w-0 flex-auto rounded border border-solid border-neutral-300 bg-transparent bg-clip-padding px-3 py-[0.25rem] text-base font-normal leading-[1.6] text-neutral-700 outline-none transition duration-200 ease-in-out focus:z-[3] focus:border-primary focus:text-neutral-700 focus:shadow-[inset_0_0_0_1px_rgb(59,113,202)] focus:outline-none dark:border-neutral-600 dark:text-neutral-200 dark:placeholder:text-neutral-200 dark:focus:border-primary"
      placeholder="Search companies"
      aria-label="Search"
      aria-describedby="button-addon2" />

    <!--search icon-->
    <span
      class="input-group-text flex items-center whitespace-nowrap rounded px-3 py-1.5 text-center text-base font-normal text-neutral-700 dark:text-neutral-200"
      id="basic-addon2">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 20 20"
        fill="currentColor"
        class="h-5 w-5">
        <path
          fill-rule="evenodd"
          d="M9 3.5a5.5 5.5 0 100 11 5.5 5.5 0 000-11zM2 9a7 7 0 1112.452 4.391l3.328 3.329a.75.75 0 11-1.06 1.06l-3.329-3.328A7 7 0 012 9z"
          clip-rule="evenodd" />
      </svg>
    </span>
  </div>
</div>


<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Companies</h1>
  </div>

  <div id="companies" class="min-w-full">
    <% @companies.each do |c| %>
      <%= link_to c.name, c %>
      <div>
        Applications submitted: <%= Job.where(company_id: c.id)
          .count %>
        <p>Last applied: <%= Job.where(company_id: c.id)
          .last
          .created_at
          .in_time_zone("Central Time (US & Canada)")
          .to_fs(:long) %>
      </div>
    <br />
  <% end %>
  </div>
</div>
